# Test...
env COLORTERM
env HOME
env PATH="$HOME/.local/go/bin:$HOME/bin:$HOME/.local/bin:/usr/bin"
env TERM
env CLAUDE_CODE_TMPDIR=/tmp/claude
env TMPDIR=/tmp/claude
env TMPPREFIX=/tmp/claude/zsh

ro ~/.aws/credentials

dir /tmp/claude

# Would be nice if it didn't need the whole password file, but it does...
ro /etc/hosts
ro /etc/ld.so.cache
ro /etc/localtime
ro /etc/nsswitch.conf
ro /etc/passwd
ro /etc/resolv.conf
ro /etc/ssl
ro /etc/manpath.config
ro /sys
ro /etc/alternatives

# Local git configs just so git works as expected and rules are applied
ro ~/.git*
# ro ~/.gitignore
# ro ~/.gitignore-global
ro ~/.quantcast.gitconfig

# Allow access to vim configuration.
rox ~/.vim*
# The [k] is just to make this a glob pattern so it gets excluded if the socket
# isn't running?
#rwx /tmp/vim-mcp-server.soc[k]

# This sucks, but it's the only way I can get the MCP server running. The
# sandbox is really starting to feel like it's full of holes. Perhaps I should
# use the 
rwx /tmp

# Basic exec access, full userspace
# It would be nice to pair this back to a smaller working set, over time. But
# for now, let's just use it as is...
rox /bin
# I don't like this... (claude doesn't actually need it)
rwx /dev
rox /lib
rox /proc
rox /usr/libexec
ro /usr/share
ro /usr/include

# Because it's written in node...
rox /usr/share/node_modules
rox /usr/share/nodejs

# Local tools, might not need this and it might be kind of dangerous?
rox ~/.local/bin
rwx ~/.local/lib/node_modules # Installation directory

# As of 2026-02-02 it stuffs the executable here now, literally just
# happened this evening...
rwx ~/.local/share/claude

# Node...ugh
rwx ~/.npm
rw ~/.cache/Cypress

# Claude redirects to null a bunch...
rw /dev/null
# So ... I really don't want to keep giving it access to /tmp.
# rw /tmp/claude

rw ~/.claude
rw ~/.claude.json

rwx .

# Tighten this up whenever possible...
unrestricted-network
